<title>stormy-spire-38369</title>
<meta charset="UTF-8">
<meta name="author" content="Mark Hildebrand">
<meta name="viewport" content="width=device-width, initial-scale=1">
<met http-equiv="x-ua-compatible" content="ie=edge">
<base href="/">

<!-- css -->
<link rel="stylesheet" href="assets/bootstrap-4.0.0-alpha.5-dist/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css' />

<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
